

MODE=development
APP_NAME=app_backend

KEY=openssl rand -hex 32

POSTGRES_INTERNAL_URL_SYNC=postgresql+psycopg2://root:password@postgres_app_backend:5432/dbname
POSTGRES_INTERNAL_URL=postgresql+asyncpg://root:password@postgres_app_backend:5432/dbname

POSTGRES_EXTERNAL_URL_SYNC=postgresql+psycopg2://root:password@localhost:5433/dbname
POSTGRES_EXTERNAL_URL=postgresql+asyncpg://root:password@localhost:5433/dbname

CELERY_BROKER_URL_EXTERNAL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://redis_app_backend:6379/0
CELERY_RESULT_BACKEND=redis://redis_app_backend:6379/0
